@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: "Space Mono", monospace;
}

:root {
  --green-400: hsl(172, 67%, 45%);
  --white: hsl(0, 100%, 100%);
  --green-900: hsl(183, 100%, 15%);
  --grey-50: hsl(189, 47%, 97%);
  --grey-200: hsl(185, 41%, 84%);
  --grey-500: hsl(186, 14%, 43%);
}

body {
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h3 {
  color: hsl(186, 14%, 43%);
  margin: 7px 0;
  font-size: 16px;
}

input {
  font-size: 24px;
  color: var(--green-900);
  text-align: right;
  width: 100%;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-color: var(--grey-50);
  border: none;
  margin-bottom: 24px;
  background-position: 10px center;
  padding: 0 9px;
}

input:focus {
  outline: 2px solid var(--green-400); /* Custom color */
}

td > h3 {
  color: var(--grey-50);
  margin: 0;
}

button:active,
#reset:active {
  background-color: var(--green-400);
  color: var(--green-900);
}

#tip-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.tip-button {
  font-size: 24px;
  background-color: var(--green-900);
  color: var(--grey-50);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  width: 160px;
  cursor: pointer;
}

#custom-button {
  border: none;
  background-color: var(--grey-50);
  color: hsl(186, 14%, 43%);
  padding: 6px 24px;
  border-radius: 5px;
  width: 158px;
  cursor: pointer;
}

#custom-tip {
  all: unset;
  font-size: 24px;
  background-repeat: no-repeat;
  background-color: var(--grey-50);
  color: var(--green-900);
  text-align: right;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  width: 158px;
  cursor: pointer;
  box-sizing: border-box;
}

#custom-tip:focus {
  outline: 2px solid var(--green-400);
}

#logo {
  background-color: hsl(185, 41%, 84%);
  margin-top: 20px;
}

#tip-calculator {
  margin-top: 70px;

  background-color: var(--white);
  padding: 17px;
  border-radius: 24px 24px 0 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional: Removes default margin */
}

#bill-input {
  background-image: url("images/icon-dollar.svg");
}

#people-input {
  background-image: url("images/icon-person.svg");
}

#bill,
#persons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nop {
  float: left;
  display: flex;
}

#zeroless {
  color: hsl(39, 100%, 50%);
  display: none;
}

table {
  background-color: var(--green-900);
  width: 100%;
  border-collapse: collapse;
  border-radius: 14px;
}

td {
  padding: 12px;
}

td > span {
  color: hsl(184, 14%, 56%);
  font-size: 13px;
}

#tip-amount-value,
#total-amount-value {
  color: var(--green-400);
  font-size: 32px;
  text-align: right;
}

#tip-amount > td {
  padding-top: 30px;
}

#reset {
  cursor: pointer;
  background-color: var(--green-400);
  border: none;
  text-transform: uppercase;
  color: var(--green-900);
  width: 100%;
  font-size: 24px;
  padding: 6px 24px;
  border-radius: 5px;
}

#reset:disabled {
  background-color: hsl(183, 69%, 26%);
  color: hsl(183, 76%, 21%);
  cursor: not-allowed;
}

/* Wider screen size view */
@media (min-width: 412px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #tip-calculator {
    display: flex;
    flex-direction: row;
    border-radius: 24px;
    width: 900px;
  }

  input {
    margin: 0;
  }

  #bill-section {
    width: 50%;
    padding: 6px 20px;
  }

  #people-section {
    display: flex;
    flex-grow: 1;
  }

  #tip-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .tip-button,
  #custom-button,
  #custom-tip {
    width: 120px;
  }

  td {
    padding: 0 24px 24px 24px;
  }

  #logo {
    margin: 0;
  }
}
